In [1]:
import sys
sys.path.append('..')
import atclient
import pandas as pd

## Use the API

### Connect

Create a config.yaml with 3 fields : url, username and password

In [2]:
api = atclient.AtApi(config='../config.yaml')

Token received

### Projects management

Load data

In [3]:
df = pd.read_parquet("../../activetigger/data/dataset_test.parquet")
df.head()

,Unnamed: 0,id,text,label,prob,proba
0,0,1569866966566932480,"Les ENFANTS du Québec, \nLes AÎNÉS du Québec,\...",Autre,0.823412,NaN
1,1,1569919081351942144,Après avoir imposé une politique dystopique zé...,Autre,0.599684,NaN
2,2,1569930968026480640,"@Nyonensis @DIVIZIO1 Pour le coup, si ce qu'il...",Autre,0.941126,NaN
3,3,1569947515465728000,@nadinecerdan @SaiyanBio @nawah_s C'est sous e...,Autre,0.625537,NaN
4,4,1569961852972732416,@L_ThinkTank L'achat de vaccins et d'armes ne ...,Autre,0.103508,NaN

Create a project

In [4]:
api.add_project("test3", df, "id", ["text"], col_label="label")

b'"test3"'

Delete a project

In [10]:
api.delete_project("test3")

b'{"detail":"Forbidden: Invalid rights"}'

### Users management

Add

In [5]:
api.add_user("coucou2", "coucou2", "test@test.fr")

User created

Delete

In [12]:
api.delete_user("coucou2")

User deleted

Add Auth for a project

In [4]:
api.add_auth_user_project("coucou2", "test3", "manager")

Auth added to user

### Get project state

In [6]:
state = api.get_project_state("test")
state["schemes"]

{'available': {'default': {'labels': ['Autre', 'Règles'],
   'kind': 'multiclass'},
  'coucou': {'labels': ['Super', 'Sous'], 'kind': 'multiclass'}},
 'statistics': {}}

### Scheme management

In [14]:
api.add_schemes("test", "coucou", "multiclass", ["Super", "Sous"])

b'{"detail":"scheme name already exists"}'

### Get current annotations

In [15]:
t = api.get_annotations("test", "default")
t.head()

,Unnamed: 0,id,dataset_id,text,labels,user,timestamp,comment
0,0,1569866966566932480,1569866966566932480,"Les ENFANTS du Québec, \nLes AÎNÉS du Québec,\...",Autre,root,2025-01-08 17:08:11.010291,NaN
1,1,1569919081351942144,1569919081351942144,Après avoir imposé une politique dystopique zé...,Autre,root,2025-01-08 17:08:11.010386,NaN
2,2,1569930968026480640,1569930968026480640,"@Nyonensis @DIVIZIO1 Pour le coup, si ce qu'il...",Autre,root,2025-01-08 17:08:11.010416,NaN
3,3,1569947515465728000,1569947515465728000,@nadinecerdan @SaiyanBio @nawah_s C'est sous e...,Autre,root,2025-01-08 17:08:11.010438,NaN
4,4,1569961852972732416,1569961852972732416,@L_ThinkTank L'achat de vaccins et d'armes ne ...,Autre,root,2025-01-08 17:08:11.010459,NaN